.CC{
    text-align: center; background:#E9E9E9 ; font-family: "Times New Roman"; font-size: 46px ; 
}

.Basliq{
    text-align: center; font-family: "Bell MT";
}
.information1{
    background-color: #E9E9E9; font-size: 120%; font-family: "Times New Roman"
}

